body{
    background-color: rgb(243, 134, 243);
}
mark{
    background-color: rgb(255, 0, 234);
    padding: 7px;
}
p{
    font-family: 
}
h1{
    font-family: ;
    text-align: center;
}
button{
    background-color: red;
    align-self: center;
    font-family: ;
    color: azure;
    border-color: red;
}